.element__like-counter {
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-right: 18px;
}
