.elements {
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: flex-start;
  padding-top: 51px;
  padding-bottom: 67px;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .elements {
    padding-top: 36px;
    padding-bottom: 48px;
  }
}
