.element__delete {
  position: absolute;
  background-image: url(../../../images/Trash.svg);
  width: 18px;
  height: 19px;
  background-color: transparent;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.element__delete:hover {
  opacity: 0.6;
}
